


@import "tailwindcss";

:root {
  --background: 255 255 255; /* light: white */
  --foreground: 23 23 23;    /* light: zinc-900 */
}

html[data-theme="dark"] {
  --background: 24 24 27;    /* dark: zinc-950 */
  --foreground: 245 245 245; /* dark: zinc-100 */
}
